/* react-dice-exercise css start */

body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.App {
  text-align: center;
  padding: 10%;
}

.flex-container {
  display: flex;
  justify-content: center;
}

.flex-container i {
  font-size: 90px;
  margin: 20px;
  color: rebeccapurple;
}

button.roll-dice-btn {
  padding: 15px 20px;
  background-color: rebeccapurple;
  color: #fff;
  border: 2px solid rebeccapurple;
  border-radius: 5px;
  width: 170px;
  cursor: pointer;
}

/* react-dice-exercise css end */